
__pycache__/a3.cpython-39.pyc
Testing/sample_tests_rtol.py
Testing/s1.py
Testing/notol.py
Testing/atol.py
Testing/a3.py
Testing/__pycache__/a3.cpython-39.pyc
s1.py
newtsting.py
newtsting.py
newtsting.py
__pycache__/a3.cpython-39.pyc
__pycache__/a3.cpython-39.pyc
newtsting.py
